/vendor
/node_modules
.env
.DS_Store
Thumbs.db
/public/upload
.idea/
public/assets/*.png
public/assets/*.jpg
public/css/settings.css
public/fonts/font-awesome/*
public/fonts/pe-icon-7-stroke/*
public/fonts/revicons/*