/* ENCABEZADOS */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titillium Web';
  font-weight: 700;
  text-transform: uppercase;
}
a {
  color: #151614;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #f57b13;
  text-decoration: none;
}
/* HEADER */
header {
  margin-bottom: 20px;
}
/* SOCIAL MEDIA */
p.social-skew {
  background: #f57b13;
  height: 50px;
  margin-top: 0px;
  position: relative;
  width: 100%;
  padding-left: 70px;
}
p.social-skew a {
  margin-top: 15px;
  margin-left: 8px;
  display: inline-block;
  color: #fff;
  transition: all 0.4s ease;
}
p.social-skew a:hover {
  color: #151614;
}
p.social-skew a i.fa {
  font-size: 18px;
}
p.social-skew:before {
  border-right: 50px solid transparent;
  border-top: 50px solid #151614;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}
/* BARRA SUPERIOR */
#topbar {
  background: #151614;
  position: relative;
  overflow: hidden;
}
#topbar p i {
  margin-right: 10px;
}
#topbar .email-address a {
  color: #bebcbb;
}
#topbar .address,
#topbar .email-address {
  color: #bebcbb;
  font-family: 'Open Sans';
  font-size: 16px;
  margin-top: 15px;
}
#topbar .address p,
#topbar .email-address p,
#topbar .social p {
  margin-bottom: 0px;
  font-size: 14px;
}
#topbar span.topbar-right {
  position: absolute;
  left: 75%;
  width: 100%;
  background: #f57b13;
  height: 50px;
}
/* MENU SUPERIOR */
#main-navigation {
  position: absolute;
  top: 50px !important;
  width: 100%;
  transition: all 0.9s ease;
  z-index: 100;
}
#main-navigation .logo img {
  height: 40px;
}
.navbar {
  border-radius: 0;
  padding: 16px 0;
  margin-bottom: 0px;
  transition: all 0.5s ease;
}
.navbar>.container .navbar-brand {
  margin-left: 0;
  padding: 0;
  height: auto;
}
.navbar>.container .navbar-brand img {
  display: block;
}
.navbar-collapse.collapse {
  margin-top: 10px;
}
.navbar-default {
  background-color: rgba(21,22,20,0.7);
  border-color: transparent;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  color: #151614;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-default .navbar-nav>li {
  font-family: 'Raleway';
  background: rgba(255,168,0,0);
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}
.navbar-default .navbar-nav>li.active,
.navbar-default .navbar-nav>li:hover {
  background: #f57b13;
  color: #151614;
  border-radius: 15px;
}
/* SLIDER */
.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
}
.slider-interno {
  width: 100%;
  height: 180px;
  background-image: url("/imagenes/sprinter.jpg");
  background-size: cover;
  background-position-y: 20%;
}
/* BLOG */
.blog-nota-item,
.blog-nota {
  display: block;
  float: left;
  margin-bottom: 20px;
}
.blog-nota-item .titulo-fecha,
.blog-nota .titulo-fecha {
  margin-bottom: 5px;
}
.blog-nota-item .titulo-fecha h2,
.blog-nota .titulo-fecha h2 {
  margin-bottom: 0;
}
.blog-nota-item .titulo-fecha time,
.blog-nota .titulo-fecha time {
  font-size: 11px;
  text-transform: uppercase;
}
.blog-nota-item .contenido a.leer-nota,
.blog-nota .contenido a.leer-nota {
  background-color: #f57b13;
  color: #fff;
  float: right;
  font-size: 18px;
  margin-top: 20px;
  padding: 15px 60px;
  border-radius: 5px;
}
.blog-nota .titulo-fecha h2 {
  font-size: 42px;
  margin: 10px 0;
}
.blog-nota .titulo-fecha p {
  font-size: 16px;
}
.blog-nota .imagen {
  margin-bottom: 10px;
}
.blog-nota .contenido {
  font-size: 16px;
}
.blog-nota .contenido p {
  line-height: 150%;
}
/* GALERIA DE FOTOS */
#galeria-fotos .titulo-multimedia {
  font-size: 32px;
  border-bottom: 1px solid #bebcbb;
}
#galeria-fotos .blog-nota-item.nth-child-odd {
  clear: both;
}
#galeria-fotos .blog-nota-item .titulo-fecha h2 {
  font-size: 18px;
  margin: 5px 0 15px 0;
}
#galeria-fotos .row.more .blog-nota-item .titulo-fecha {
  border-left: 8px solid #f57b13;
  height: 75px;
  margin-bottom: 15px;
  padding: 0px 15px;
}
#galeria-fotos .row.more .blog-nota-item .titulo-fecha h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-transform: none;
  margin-bottom: 5px;
}
/* PATROCINADORES */
#patrocinadores li {
  display: inline-block;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 15px 50px;
}
/* SOCIAL MEDIA */
#orange-social {
  padding: 10px 20px;
  background: #f5f5f5;
  border-bottom: 3px solid #3a1c02;
  margin: 30px 0 0 0;
}
#orange-social h3 {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  display: block;
  font-size: 38px;
  font-family: 'Titillium Web';
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
}
#orange-social ul {
  padding: 0;
  text-align: center;
}
#orange-social ul li {
  display: inline-block;
}
#orange-social ul li a {
  margin-top: 20px;
  color: #3a1c02;
  float: left;
  width: 105px;
  text-align: center;
  border-right: 1px solid #bebcbb;
  text-decoration: non;
}
#orange-social ul li a:hover {
  opacity: 0.8;
}
#orange-social ul li:last-child a {
  border: none;
}
/* ENLACE BICICENTRO */
.enter-shop {
  margin-top: 30px;
  border-bottom: 3px solid #b95907;
  background-color: #ec6606;
  padding: 10px 20px;
}
.enter-shop a {
  display: block;
  width: 100%;
  text-align: center;
}
.enter-shop img {
  width: 100%;
  margin-top: 10px;
}
.enter-shop .enter-shop-link {
  color: #f5f5f5;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Titillium Web';
  text-decoration: none;
  text-align: right;
  width: 100%;
  display: block;
  margin-top: -3px;
}
.enter-shop .enter-shop-link:hover {
  text-decoration: underline;
}
.enter-shop.interior-enter-shop .enter-shop-link {
  margin-top: 20px;
}
/* PUBLICIDAD */
.publicidad-centro {
  margin: 20px 0;
}
/* FOTOS Y VIDEOS */
.galeria-home {
  background-color: #f5f5f5;
  padding: 20px 0;
}
.galeria-home #home-fotos ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.galeria-home #home-fotos ul li {
  display: inline-block;
  margin: 13px;
}
/* INTERIOR */
.categories-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.categories-list ul li {
  border-top: 1px #f0f0f0 solid;
  border-bottom: 1px #f0f0f0 solid;
  margin-top: -1px;
}
.categories-list ul li a {
  position: relative;
  font-size: 13px;
  color: #333232;
  font-weight: 500;
  line-height: 17px;
  padding: 15px 40px 15px 0;
  display: block;
  transition: all 0.15s ease-out;
}
.categories-list ul li a:before {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f101";
  padding-right: 5px;
}
.categories-list ul li a:hover {
  color: #d14242;
}
.categories-list ul li a span {
  position: absolute;
  line-height: 47px;
  top: 0;
  right: 0;
  font-weight: 600;
  color: #828282;
}
/* VIDEO */
#interior-video .datos h3,
#interior-fotos .datos h3 {
  font-size: 18px;
  margin-top: 0;
}
/* FOTOS */
#interior-fotos .fotos {
  float: left;
}
#interior-fotos .fotos ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#interior-fotos .fotos ul li {
  margin: 5px 0;
}
/* FOOTER */
footer {
  background-color: #151614;
  color: #bebcbb;
  padding: 20px 0;
  text-align: center;
  margin-top: 20px;
}

/*# sourceMappingURL=estilos.css.map */